[submodule "libft"]
	path = rank00/libft
	url = https://github.com/daanmlab/libft.git
	branch = main
[submodule "ft_printf"]
	path = rank01/ft_printf
	url = https://github.com/daanmlab/ft_printf.git
	branch = main
[submodule "get_next_line"]
	path = rank01/get_next_line
	url = https://github.com/daanmlab/get_next_line.git
	branch = main
[submodule "push_swap"]
	path = rank02/push_swap
	url = https://github.com/daanmlab/push_swap.git
	branch = main
[submodule "minitalk"]
	path = rank02/minitalk
	url = https://github.com/daanmlab/minitalk.git
	branch = main
[submodule "minishell"]
	path = rank03/minishell
	url = https://github.com/tlouro-c/minishell.git
	branch = main
[submodule "so_long"]
	path = rank02/so_long
	url = https://github.com/daanmlab/so_long.git
	branch = main
[submodule "philosophers"]
	path = rank03/philosophers
	url = https://github.com/daanmlab/philosophers.git
	branch = main
[submodule "cub3d"]
	path = rank04/cub3d
	url = https://github.com/daanmlab/cub3d.git
	branch = main
[submodule "cpp02"]
	path = rank04/cpp02
	url = https://github.com/daanmlab/cpp02.git
	branch = main
[submodule "cpp03"]
	path = rank04/cpp03
	url = https://github.com/daanmlab/cpp03.git
	branch = main
[submodule "cpp04"]
	path = rank04/cpp04
	url = https://github.com/daanmlab/cpp04.git
	branch = main
[submodule "inception"]
	path = rank05/inception
	url = https://github.com/daanmlab/inception.git
	branch = main
[submodule "cpp09"]
	path = rank05/cpp09
	url = https://github.com/daanmlab/cpp09.git
	branch = main
[submodule "Transcendence"]
	path = rank06/Transcendence
	url = https://github.com/TranscendenceTranscendence/Transcendence.git
	branch = develop
[submodule "advanced/HyperTube"]
	path = advanced/HyperTube
	url = https://github.com/daanmlab/HyperTube.git
	branch = main
[submodule "advanced/ft_ssl"]
	path = advanced/ft_ssl
	url = https://github.com/daanmlab/ft_ssl.git
	branch = main
[submodule "advanced/ft_matrix"]
	path = advanced/ft_matrix
	url = https://github.com/daanmlab/ft_matrix.git
	branch = main
